include common/paths
include common/mixins
block variables
doctype html
html
	head
		meta(charset="utf-8")
		title #{title[0]}
		meta(content=`${title[1]}` name="description")
		meta(content=`${title[2]}` name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		include common/meta
		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(rel='stylesheet' href=`${ares}/css/foundation.css`)
		link(rel='stylesheet' href=`${ares}/css/app.css`)

		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,800')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Sans')

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->
		
	body
		block content
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src=`${ares}/js/libs/maskedinput.min.js`)
		script(src=`${ares}/js/libs/validationEngine.min.js`)
		script(src=`${ares}/js/libs/validationRulesRu.js`)
		script(src=`${ares}/js/libs/svg4everybody.legacy.min.js`)
		script(src=`${ares}/js/libs/react.js`)
		script(src=`${ares}/js/libs/react-dom.js`)
		script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js')
		script(src=`${ares}/js/libs/EventEmitter.js`)
		script(src=`${ares}/js/app.js` type='text/babel')



