extends ../_template

block variables
	- var title = ['About me','index page description','index page keywords']
	-
		var menu = {
			'/works.html':'Works',
			'/about.html':'About Me',
			'/blog.html':'Blog',
			'/login.html':'LogIn'
		}
	-
		var social = {
			'https://www.facebook.com/profile.php?id=100004486651738':'facebook',
			'https://github.com/sokol147':'github'
		}
	-
		var contacts = {
			skype:'vlad.socol',
			email:'sokolov.stb@gmail.com',
			timezone:'(GMT+1)',
			local:'Poland, Katowice'
		}

block content
	//- INCLUDE BLOCKS
	//	include ../blocks/..

	.wrapper
		section.section.hero
			.hero__bg
				img(src='templates/_ares/images/bg/portfolio.jpg').hero__bg-img
			ul.social.header__social
					each socialClass,socialLink in social
						li.social__item(class=`social__item-${socialClass}`)
							a(href=`${socialLink}`).social__link

			a(href='#').hamburger
				img(src='templates/_ares/images/icons/hamburger.svg').hamburger__icon

			a(href='').down-arrow
				img(src='templates/_ares/images/icons/arrow_down.svg').down-arrow__icon

			.hero__title
				img(src='' atl='').section-title
				.user.hero__user-block
					.user__photo
						.user__photo-avatar
							img(src='templates/_ares/images/logo.jpg' alt='').user__photo-img
					.user__name Vladislav Sokolov
					.user__desc Personal development site

		section.section.about
			.about__left
				svg(viewbox='0 0 1000 100' preserveAspectRatio='none').triangle.triangle_fill_white.about__triangles
					polygon(points='0,0 0,100 1000,100')
					.title.about__section-title
						| About me
					.user-about
						.user-about__picture
							img(src='templates/_ares/images/hero_photo.jpg' alt='').user-about__photo
						.user-about__title
							.subtitle
								| Who am I
						.user-about__text
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo autem cupiditate facilis, quis consequuntur blanditiis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo autem cupiditate facilis, quis consequuntur blanditiis!
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo autem cupiditate facilis, quis consequuntur blanditiis!
			.about__right
				svg(viewbox='0 0 1000 100' preserveAspectRatio='none').triangle.triangle_fill_beige.about__triangles
					polygon(points='0,100 1000,100 1000,0')
					.about-data
						.about-data__description.about-user-info
							.about-user-info__title
								.subtitle
									| How I can
									br
									|help you
							.about-user-info__text
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nulla iusto repellat laboriosam, quisquam alias.
						.about-data__content
							ul.skills
								each skill in content.skills
									each skillsArray, skillName in skill
										li.skills__item
											.skill-section
												.skill-section__title= skillName
												ul.skill-section__list
													each tech in skillsArray
														each skillProc, skillTitle in tech
															li.skill-section__item
																.skill
																	svg(viewbox='0 0 110 110').skill__circle
																		circle(r='45' cx='50%' cy='50%' fill='none').circle__first
																		circle(r='45' cx='50%' cy='50%' transform='rotate(-90 55 55)' class=`circle-${skillProc}`).circle__second
																	.skill__name= skillTitle



		section.section.map
			.map__contacts
				.contact
					.contact__title.subtitle Contacts
					ul.contact__list
						each contactItem, contactIcon in contacts
							li.contact__item(class=`contact__item-${contactIcon}`)= contactItem
			footer.footer
				ul.menu.footer__menu
					each menuItem, menuLink in menu
						li.menu__item
							a(href=`${menuLink}`).menu__link= menuItem
				ul.social.footer__social
					each socialClass,socialLink in social
						li.social__item(class=`social__item-${socialClass}`)
							a(href=`${socialLink}`).social__link